/* General Setup*/

html {
  margin: 0;
  padding: 0;
  font-size: 20px;
  background-color:rgb(206, 216, 251) 
}

body {
  margin: 0;
  padding: 0;
  width: 70%;
  min-width: 800px;
}


/*Typography*/
h1, h2, h3 {
  font-family: 'Almarai', sans-serif;
  color: #333333;
}

p, input, li {
  font-family: 'Roboto Condensed', sans-serif;
  color: #333333;
}

h1{
  font-style: normal;
  font-size: 30px;
  text-align: center;
}

h2{
  font-weight: 200;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
}

h3 {
  font-size: 20px;
  line-height: 25px;
}

ol {
  line-height:1.5;
  font-size: 20px;
  padding: 5px;
  width: 300px;
  list-style:circle;
  margin-left: 5px;
  
}

footer {
  margin-top: 10px;
}


/* || header layout */

header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}

body > * {
  background-color: rgb(229, 232, 253);
  padding: 2%;
}

footer{
  background-color: rgb(236, 238, 252);
  padding: 1%;
}

main, header, nav, article, aside, section {
  background-color: rgb(211, 228, 242);
  padding: 1%;
}

h1 {
  flex: 5;
}

header img {
  display: block;
  height: 60px;
  padding-top: 22px;
}

nav {
  height: 50px;
  flex: 100%;
  display: flex;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a, nav span {
  display: inline-block;
  font-size: 2rem;
  height: 3rem;
  line-height: 1.7;
  text-decoration: none;
  color: black;

}

/* main layout */
main{
  text-align:center;
}




